/* ===== PARTE 1: IMPORTANDO FONTE ===== */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* ===== PARTE 2: VARIÁVEIS ===== */
:root {
  --color-text: #fff0c8;
  --color-buttom: #60804d;
  --font-padrao: "Open Sans", Verdana;
}

/* ===== PARTE 3: RESET ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===== PARTE 4: BODY ===== */
body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background: #306b34;
  height: 100vh;
  font-family: var(--font-padrao);
}

/* ===== PARTE 5: HEADER ===== */
header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
}

/* ===== PARTE 6: LOGO ===== */
#logo-img {
  width: 400px;
}

/* ===== PARTE 7: CONTEÚDO PRINCIPAL ===== */
.conteudo-principal {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* ===== PARTE 8: ENUNCIADO ===== */
.enunciado-principal {
  width: 60%;
  color: var(--color-text);
  font-weight: 500;
  font-size: 3rem;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ===== PARTE 9: BOTÕES ===== */
button {
  border: none;
  padding: 15px;
  border-radius: 15px;
  color: var(--color-text);
  background: var(--color-buttom);
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}

/* ===== PARTE 10: RODAPÉ ===== */
footer p {
  text-align: center;
  font-family: var(--font-padrao);
  color: var(--color-text);
  padding: 20px;
}
footer p a {
  text-decoration: underline;
  color: var(--color-text);
}

/* ===== PARTE 11: INPUT TEXT ===== */
.input-text {
  width: 300px;
  border: none;
  outline: none;
  padding: 15px;
  border-radius: 10px;
  background: var(--color-buttom);
  color: var(--color-text);
  font-size: 1.5rem;
  text-align: center;
}

/* ===== PARTE 12: CURSOR ===== */
input {
  caret-color: var(--color-buttom);
}

/* ===== PARTE 13: PLACEHOLDER ===== */
.input-text::placeholder {
  color: var(--color-text);
  text-align: center;
  font-size: 1.5rem;
  padding: 15px;
  opacity: 0.5;
  caret-color: var(--color-text);
}

/* ===== PARTE 14: SLIDER ===== */
.input-range {
  accent-color: var(--color-buttom);
  margin-top: 40px;
  width: 80%;
}

/* ===== PARTE 15: INPUT NUMÉRICO ===== */
.input-number {
  border: none;
  outline: none;
  background: var(--color-buttom);
  border-radius: 20px;
  margin-top: 40px;
  width: 150px;
  padding: 20px;
  font-size: 1.5rem;
  color: var(--color-text);
}

/* ===== PARTE 16: CAIXA RADIO ===== */
.input-box {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  width: 100%;
}

/* ===== PARTE 17: RADIO ===== */
.radio {
  display: flex;
  flex-direction: row;
  margin: 20px;
}
.radio label {
  margin-left: 15px;
  font-size: 2rem;
}
.radio input {
  width: 1.5rem;
  accent-color: var(--color-buttom);
}

/* ===== PARTE 18: IMAGEM RESULTADO ===== */
.img-planeta {
  width: 250px;
}

/* ===== PARTE 19: TEXTO RESULTADO ===== */
.qtd-planetas {
  margin-left: 20px;
  font-size: 2.5rem;
  font-style: italic;
  font-weight: bold;
}

/* ===== PARTE 20: DIV RESULTADO ===== */
.resultado-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* ===== PARTE 21: DESCRIÇÕES RESULTADO ===== */
.descricao-resultado {
  font-size: 2.5rem;
  margin: 0.5rem;
}

/* ===== PARTE 22: RESPONSIVO ===== */
@media (max-width: 475px) {
  #logo-img { width: 300px; }
  .descricao-resultado { font-size: 1.5rem; }
  .img-planeta { width: 150px; }
  .qtd-planetas { font-size: 1.5rem; }
  .enunciado-principal { font-size: 1.5rem; }
}
